:root{
    --primary: #80ADC2;
    --bg:#1C1C1C;
    --secondPrimary: #53869d;
}

/* Nav */
body {
    width: 100vw;
    box-sizing: border-box;
    margin:0;
    background-color:var(--bg);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    }

img{
    padding-left: 15px;
    align-items: center;
    width: 80px;
    height: 25px;
}
nav{
    padding: 1rem;
}
a{
    margin: 10px;
    font-family: "Madimi One", sans-serif;
    font-size: 14px;
    color: #FFFF;
    text-decoration: none;
}
a:hover {
    color: var(--primary);
}

/* Halaman Home */
/* .Border-Login{
    border: 2px solid var(--primary);
    border-radius: 12px;
    padding: 8px;
    
}
.Home {
    display: flex;
}
.Home .FirstBox{
    margin-top: 40px;
    margin-left: 10px;
    align-items: center;
    width: 35%;
    height: 500px;
}
.Home .FirstBox img{
    width: 430px;
    height: 420px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.Home .SecondBox{
    width: 65%;
    height: 500px;
    background-color: var(--primary);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.Home .SecondBox .Text1 {
    margin-top: -2rem;
    margin-left: 2rem;
    font-family: "Madimi One", sans-serif;
    font-size: 50px;
    color: white;
    font-style: italic;
    span{
    }
} */

/* Login */
div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.LoginBorder{
    background-color: var(--primary);
    width: 800px;
    height: 450px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Menambahkan bayangan */
    h1{
        text-align: center;
        margin-right: 50%;
        font-size: 50px;
        padding-top: 20%;
        padding-left: 20px;
        color: white;
        font-family: "Madimi One", sans-serif;
    }
    p{
        margin-right: 50%;
        padding-left: 10px;
        color: white;
        font-family: "Madimi One", sans-serif;
    }
}

fieldset{
    margin-top: -300px;
    width: 300px;
    height: 350px;
    background-color: var(--primary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-left: 52%;
    text-decoration: none;
    border: none;
    text-align: center;
    align-items: center;
    font-size: 30px;
    input{
        margin-top: 10px;
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 24px;
        font-family: "Madimi One", sans-serif;
        text-align: center;
    }
}

.Icon{
    margin-bottom: -20px;
}

.Icon .facebook{
    width: 50px;
    height: 50px;
}

.Icon .Google{
    margin-bottom: 4px;
    width: 37px;
    height: 37px;
}

.Icon .Instagram{
    margin-bottom: 10px;
    width: 45px;
    height: 28px;
}

.Forget{
    justify-content: center;
    text-align: center;
    margin-top: -10px;
    font-size: 12px;
    text-decoration: underline;
}

.Forget:hover {
    color: var(--bg);
}

h2{
    margin-top: 10px;
    font-family: "Madimi One", sans-serif;
    color: white;
}
button{
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 24px;
    font-family: "Madimi One", sans-serif;
    text-align: center;
    color: var(--bg);
    color: var(--bg);
    background-image: linear-gradient(to bottom, var(--primary), var(--secondPrimary)50%); /* Gradien linear dari kiri ke kanan */
}
button:hover{
    cursor: pointer;
}

