:root {
  --primary: #272727;
  --bg: #1c1c1c;
  --secondPrimary: #53869d;
  --font: "Poppins", sans-serif;
  --colorFont: #717171;
  --footer: #181818;
}
div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Nav */
body {
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--bg);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  z-index: 1000; /* Atur z-index agar header tetap di depan konten lain */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  width: 100vw;
  margin: 10px;
}

header .logo img {
  margin-right: 15vw;
  padding-left: 40px;
  align-items: center;
  width: 80px;
  height: 25px;
}
.logo img:hover {
  cursor: pointer;
}
.halamanAwal {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  height: 12px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 120px;
  a {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
  }
}

.halamanAwal a:active {
  transform: translateY(5px);
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ffff;
  text-decoration: none;
}
.halamanAwal a:hover {
  color: var(--colorFont);
}

header .register {
  margin-left: 2.6vw;
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 120px;
  a {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--bg);
    text-decoration: none;
  }
}

header .Login {
  margin-left: -10vw;
  background-color: #383838;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 120px;
  a {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
  }
}

.halaman1,
.halaman2,
.halaman3,
.halaman4 {
  background-image: url(BG3.png);
  width: 100vw;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.text3 {
  width: 100vh;
  margin-right: 5vw;
}

.text3 .p1 {
  font-family: var(--font);
  color: white;
  font-weight: bold;
  font-size: 48px;
}
.text3 .p2 {
  margin-right: 30vh;
  font-family: var(--font);
  color: white;
  font-size: 12px;
}

.iconImg {
  width: 50vh;
}
.iconImg img {
  width: 280px;
  height: 280px;
}

.Started {
  display: flex;
}
.Started .text4 {
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--colorFont);
  border-radius: 32px;
}
.Started .text4:hover {
  color: var(--primary);
}

.material-symbols-outlined {
  margin-left: -28px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 32px;
  background-color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: black;
}
.iconImg2,
.iconImg4 {
  width: 50vh;
  margin: 0;
}
.iconImg2 img,
.iconImg4 img {
  width: 40vw;
  height: 100vh;
}

.text5,
.text7 {
  text-align: right;
  width: 100vh;
  margin-right: 5vw;
}

.text5 .p1,
.text7 .p1 {
  font-family: var(--font);
  color: white;
  font-weight: bold;
  font-size: 46px;
}
.text5 .p2,
.text7 .p2 {
  margin-top: -5vh;
  margin-left: 30vh;
  font-family: var(--font);
  color: white;
  font-size: 12px;
}

.text6 {
  width: 100vh;
  margin-left: 5vw;
}

.text6 .p1 {
  font-family: var(--font);
  color: white;
  font-weight: bold;
  font-size: 48px;
}
.text6 .p2 {
  margin-top: -5vh;
  margin-right: 30vh;
  font-family: var(--font);
  color: white;
  font-size: 12px;
}

.iconImg3 {
  margin: 0;
}
.iconImg3 img {
  width: 40vw;
  height: 100vh;
  transform: scaleX(-1);
}

.galeri {
  width: 900px;
  height: 100vh;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}

.galeri::-webkit-scrollbar {
  display: none;
}

.galeri div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.galeri div img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.Scrool-Galeri {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

.Scrool-Galeri .material-symbols-outlined {
  margin-left: 15px;
}

#arrow_back,
#arrow_forward {
  cursor: pointer;
}

.galeri div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.text8 {
  text-align: center;
  width: 100vh;
}

.text8 .p1 {
  font-family: var(--font);
  color: white;
  font-weight: bold;
  font-size: 48px;
}
.text8 .p2 {
  margin-top: -5vh;
  font-family: var(--font);
  color: white;
  font-size: 12px;
}

/* Login */
.header2 {
  background-image: url(BG3.png);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.78vw;
  width: 100vw;
  margin: 10px;
}
.header2 .logoLogin img {
  margin-top: -10vh;
  padding-left: 40px;
  align-items: center;
  width: 80px;
  height: 25px;
}
.logo img:hover {
  cursor: pointer;
}

.LogoHome a {
  margin-left: 80vw;
  align-items: center;
}

.LoginSection {
  width: 100vw;
  height: 80vh;
  background-image: url(BG3.png);
}

.LoginSection form {
  display: grid;
  justify-content: center;
}

.LoginSection .BorderLogin {
  display: grid;
  justify-content: center;
  width: 388px;
  height: 464px;
  background-color: var(--primary);
  border-radius: 32px;
}
.BorderLogin .logo2 img {
  padding-top: 2rem;
  width: 120px;
  height: 40px;
}
.text1 {
  margin-top: -1rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

.inputusernameLogin input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--primary);
  border: 2px solid var(--colorFont);
  font-family: var(--font);
  color: white;
  padding-left: 1rem;
}
.inputusernameLogin input::placeholder {
  font-family: var(--font);
  color: var(--colorFont);
  padding-left: 1rem;
}
.inputusernameLogin input:focus {
  color: white;
  padding-left: 1rem;
}
.inputpsw input {
  margin-top: 1rem;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--primary);
  border: 2px solid var(--colorFont);
  font-family: var(--font);
  color: white;
  padding-left: 1rem;
}
.inputpsw input::placeholder,
.inputpswagain input::placeholder {
  font-family: var(--font);
  color: var(--colorFont);
  padding-left: 1rem;
}
.inputpsw input:focus {
  color: white;
  padding-left: 1rem;
}
.buttonLogin button {
  margin-top: 1rem;
  width: 306px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  border: 4px solid white;
}
.buttonLogin button:hover {
  cursor: pointer;
}
.or p {
  margin-top: -5px;
  margin-bottom: -5px;
  font-family: var(--font);
  color: white;
}
.button2 button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  border: none;
}
.text2 p {
  font-family: var(--font);
  color: white;
  font-size: 10px;
}
.text2 a {
  font-weight: bold;
  color: white;
}

#Failedusername {
  margin-top: 1vh;
  margin-left: 0;
  font-family: var(--font);
  color: #ff0000;
  font-size: 12px;
  text-align: left;
}

/* register */
.header3 {
  background-image: url(BG3.png);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.78vw;
  width: 100vw;
  margin: 10px;
}

.header3 .logoRegister img {
  margin-top: -10vh;
  padding-left: 40px;
  align-items: center;
  width: 80px;
  height: 25px;
}

.inputusername input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--primary);
  border: 2px solid var(--colorFont);
  font-family: var(--font);
  color: white;
  padding-left: 1rem;
}

.inputusername input::placeholder {
  font-family: var(--font);
  color: var(--colorFont);
  padding-left: 1rem;
}

.inputusername input:focus {
  color: white;
  padding-left: 1rem;
}

.RegisterSection {
  width: 100vw;
  height: 80vh;
  background-image: url(BG3.png);
}

.RegisterSection form {
  display: grid;
  justify-content: center;
}

.RegisterSection .BorderLogin {
  display: grid;
  justify-content: center;
  width: 388px;
  height: 464px;
  background-color: var(--primary);
  border-radius: 32px;
}

.BorderLogin .logo3 img {
  padding-top: 2rem;
  width: 120px;
  height: 40px;
}

.inputemailRegister input,
.inputpswregister input {
  margin-top: 1rem;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--primary);
  border: 2px solid var(--colorFont);
  font-family: var(--font);
  color: white;
  padding-left: 1rem;
}

.inputemailRegister input::placeholder,
.inputpswregister input::placeholder {
  font-family: var(--font);
  color: var(--colorFont);
  padding-left: 1rem;
}

.inputemailRegister input:focus,
.inputpswregister input:focus {
  color: white;
  padding-left: 1rem;
}

.buttonRegister button {
  margin-top: 1rem;
  width: 306px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  border: 4px solid white;
}
.buttonRegister button:hover {
  cursor: pointer;
}
.or p {
  margin-top: -5px;
  margin-bottom: -5px;
  font-family: var(--font);
  color: white;
}
.button3 button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  border: none;
}
.text2 p {
  font-family: var(--font);
  color: white;
  font-size: 10px;
}
.text2 a {
  font-weight: bold;
  color: white;
}

/* Footer */
.footerHome {
  display: grid;
  align-items: center;
  justify-content: right;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 60vh;
  background-color: var(--footer);
}

.footerHome .item-left .logofooter img {
  width: 80px;
  height: 25px;
}

.footerHome .item-left .textfooter p {
  font-family: var(--font);
  color: var(--colorFont);
  font-size: 12px;
}

.footerHome .item-right .textfooter2 p {
  font-family: var(--font);
  color: var(--colorFont);
  font-size: 12px;
}
.footerHome .item-right .textfooter2 .input-email {
  width: 300px;
  height: 40px;
  border-radius: 16px;
  background-color: var(--footer);
  border: 2px solid var(--colorFont);
}

.footerHome .item-right .textfooter2 .input-email::placeholder {
  font-family: var(--font);
  color: var(--colorFont);
  padding-left: 1rem;
}

.footerHome .item-right .textfooter2 .input-email:focus {
  color: white;
  padding-left: 1rem;
}
.footerHome .item-right .textfooter2 .material-symbols-outlined {
  position: absolute;
  margin-left: -4vw;
  margin-top: 1vh;
  padding-right: 10px;
  background-color: var(--footer);
  color: var(--colorFont);
}

.footerHome .item-right img {
  width: 20px;
  height: 20px;
}

/* Animasion */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-section2,
.LoginSection,
.RegisterSection {
  animation: fadeIn 1s ease forwards;
}

.animated-section,
.animated-section3,
.animated-section4,
.animated-section5 {
  opacity: 0;
  transition: opacity 1s ease;
}

.animated-section.active,
.animated-section3.active,
.animated-section4.active,
.animated-section5.active {
  opacity: 1;
}
